/* outfit-regular - latin */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/outfit-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/outfit-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* outfit-700 - latin */
  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/outfit-v6-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/outfit-v6-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit';
    font-size: 15px;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 10px;
    grid-template-rows: repeat(12, 20%);
    row-gap: 10px;
}


#card {
    max-width: 300px;
    max-height: 450px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0px 10px 50px 10px hsl(220, 15%, 55%);
    font-family: 'Outfit';
    padding: 15px;
    grid-column: 6 / 8;
    grid-row: 2 / 5;
    /* margin: 0 auto; maybe to center vertically */
}

#first-title {
    font-size: 20px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
    padding: 10px;
}

img {
    width: 80%;
    border-radius: 10px;;
}

.attribution {
    grid-column: 6 / 8;
    grid-row: 5 / 6;
    padding: 50px 10px 0px 10px;
    
}


